<div class="container row">
  <div class="col-md-12">
    <h1>Welcome to YouFrame</h1>
    <style>
      h2 {text-align: center;}
      p {text-align: center;}
      
      </style>
      <h2 >Gallery</h2>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
      <input type="file" (change)="onFileChanged($event)">

  </div>
  <div class="col-md-6">
      <input type="button" (click)="onUpload()" value="upload">
  </div>
</div>
<hr />
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
          name="name" />
  </div>
  <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">

  </div>
</div>

<div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage"style="width:100%">
      </div>
  </div>
</div>




